@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la Demo de PaaS</h1>
    <p>Ingenieria de Software. Copyrights 2026.</p>
</div>
